<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <!--mode=ios is formatting lifesaver!!-->
        <img alt="logo" class="align-left" height="40" src="/assets/icon/cn-icon.png">
        <ion-title class="ion-text-center title-font align-title">
            <div>Contractions Now!</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">About</ion-title>
        </ion-toolbar>
    </ion-header>
    <table></table>
    <ion-card>
        <div>
            <ion-card-content class="card">
                Contractions Now! provides a simple solution to keep track of your contractions and intervals before going into labor.
                Press the 'START' button on the home screen to initiate a contraction. Press 'STOP' to begin the interval timer.
                The timer turns red during a contraction, and green during an interval. Press the 'RESET' button to clear all data.
            </ion-card-content>
        </div>
    </ion-card>
    <p></p>
    <ion-card>
        <div>
            <ion-card-content class="card">
                When the time between contractions reach 5 minutes or less apart, that's typically the time
                to start heading to the hospital. A notification will be sent to your phone's tray
                when the app detects this. While this is a widely accepted reccomendation,
                you should always consult with your physician for medical guidance.
            </ion-card-content>
        </div>
    </ion-card>
    <p></p>
   
    <p></p>
    
        <div style="text-align: center">
            
                <ion-button href="https://www.google.com/search?source=hp&ei=zct_X-CkMIfysQX3j7vgDg&q=contraction+intervals&oq=contraction+intervals&gs_lcp=CgZwc3ktYWIQAzIFCAAQyQMyAggAMgIIADICCAAyAggAMgIIADoOCAAQ6gIQtAIQmgEQ5QI6CwguELEDEMcBEKMCOggIABCxAxCDAToFCAAQsQM6DgguELEDEMcBEKMCEJMCOgUILhCxAzoICC4QsQMQgwE6CAguEMcBEK8BOggILhCxAxCTAjoICAAQsQMQyQM6BQgAEJIDOg0IABCxAxDJAxBGEPkBULAUWNAuYPwuaANwAHgAgAF4iAGkEJIBBDE2LjaYAQCgAQGqAQdnd3Mtd2l6sAEG&sclient=psy-ab&ved=0ahUKEwigv7OcvKbsAhUHeawKHffHDuwQ4dUDCAk&uact=5">
                    <ion-title style="text-align: center" class="button-blue">MORE INFO FROM THE WEB</ion-title>
                </ion-button>
            
        </div>
</ion-content>
