h1 {
    letter-spacing: 0.035em
}

.result {
    height: 50vh;
    overflow-y: scroll;
}

.floatbutton {
    padding: 5px;
}

.div {
    margin-left: auto;
    margin-right: auto;
}

.circle-button {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: white;
    border: 1px solid white;
    box-shadow: inset 0 0 0 3px #00b8a4;
    color: black;
}

.circle-button-red {
    box-shadow: inset 0 0 0 3px #FF655B;
}

.circle-button-bg {
    height: 125px;
    width: 125px;
}

.circle-button-md {
    height: 105px;
    width: 105px;
}

.bg-none {
    background: none;
    color: white;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.bg-green {
    background-color: #00b8a4;
}

.bg-pink {
    background-color: #FF655B;
}

.bg-white {
    background-color: white;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.text-light {
    color: #675d5d;
}

.text-lighter {
    color: #c2afaf;
}

.bg-green {
    color: #3cba54;
}

.border-bottom {
    border-bottom: 1px solid #7CCBE9;
}

.border-bottom-light {
    border-bottom: 1px solid #D3D3D3 !important;
}

.shadow-red {
    box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
    border-radius: 5px;
}

.two-lines {
    min-width: 15em;
}

.two-lines span {
    text-transform: none;
    font-size: 14px;
    justify-content: left;
}

.list-text {
    font-size: x-large;
    color: red;
}


.google-button {
    font-size: 14px;
    --background: #3cba54;
    --color-selected: #ffffff;
}

.timer-red {
    color: red;
}


.timer-green {
    color: green;
}

.small-font {
    font-size: 12px;
}